body {
    font-family: Arial, sans-serif;
    margin: 0px;
  }
  
  header {
    display: flex;
    color: aliceblue;
    flex-direction: column;
    font-family: 'Megrim';
    align-items: center;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: aliceblue;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li a {
    color: aliceblue;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  section {
    width: 60%;
    margin: 20px;
    padding: 20px;
    text-align: left;
  }
